<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="dev.rock.permission.USE_SHELL_API" />
    <queries><package android:name="dev.rock.automation" /></queries>
    <application android:label="RockstarOS" android:allowBackup="false" android:usesCleartextTraffic="false" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
